.banderas{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  margin: 3rem;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}